@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
}


.react-calendar {
  border: none !important;
  box-shadow: none !important;
  padding: 2px;
}
.react-calendar__month-view__weekdays__weekday{
  color: gray  !important; 
  border: none !important;
  padding: 5px !important;

}
.react-calendar__tile {
  background: none !important;
  padding: 2vh !important; 
  color: black !important; 
  

}

.react-calendar__navigation button {
  background: white !important;
  border: 2px  !important;
  border-radius: 10px;

  color: black;
}

.react-calendar__tile--active {
  background: #464549 !important;
  color: white !important;
  border-radius: 10px;
}

.react-calendar__tile--now {
  background: blue !important;
  color: white !important;
  border-radius: 10px;
}


section::-webkit-scrollbar {
display: none;
}

section {
-ms-overflow-style: none;
scrollbar-width: none;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}


.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
